.nav {
  list-style-type: none;
  color: #159957;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.nav li {
  display: inline;
  padding: 20px;
}

.nav li {
  border-right: 1px solid #eff0f1;
}
.nav li:last-child {
  border: none;
}

.nav .selected {
  font-weight: 900;
}

.nav a {
  color: #159957;
}

.fade-left {
  opacity: 0;
  position: relative;
  left: 100px;
}
.fade {
  opacity: 0;
}