.nav {
  list-style-type: none;
  color: #159957;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav li {
  display: inline;
  padding: 15px;
}

.nav .selected {
  font-weight: 900;
}

.nav a {
  color: #159957;
}

.fade-left {
  opacity: 0;
  position: relative;
  left: 100px;
}
.fade {
  opacity: 0;
}